PROJECT_NAME=htlkrems-predict
API_V1_STR=/api/v1

MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=htlkrems
MYSQL_PASSWORD=htlkrems123
MYSQL_DB=htlkrems_predict

# Optional for docker-compose only
MYSQL_ROOT_PASSWORD=root12345
